.button {
    font-size: 12px;
    -moz-appearance: none;
    background-color:#E5FCC8;
    border: 1px solid #E5FCC8;
    background-repeat: no-repeat;
    background-position: 5px;
}

.button:hover {
    -moz-appearance: none;
    border: 1px solid #498205;
}

.button:focus {
    -moz-box-sizing: border-box;
    background-color:#D0FB9C;
    border: 1px solid #498205;

}

.img_gen {
    background-image: url('images/1.png');
}

.img_hist {
    background-image: url('images/2.png');
}

.img_tab {
    background-image: url('images/3.png');
}

.img_win {
    background-image: url('images/4.png');
}

.img_eve {
    background-image: url('images/5.png');
}

.img_app {
    background-image: url('images/6.png');
}

.img_gro {
    background-image: url('images/7.png');
}

.img_appl {
    background-image: url('images/8.png');
}

.img_plug {
    background-image: url('images/9.png');
}

.img_key {
    background-image: url('images/10.png');
}

.img_pre {
    background-image: url('images/11.png');
}

.img_sub {
    background-image: url('images/12.png');
}

.img_des {
    background-image: url('images/13.png');
}

.img_sou {
    background-image: url('images/14.png');
}

#qtver {
    line-height: 49px;
    height: 49px;
    padding-left: 15px;
}

.btnStyle {
    -moz-appearance: none;
    background-color: #E1E1E1;
    border: 1px solid #ADADAD;

}

.btnStyle:focus {
    -moz-box-sizing: border-box;
    outline: 2px solid #0078D7;
    outline-offset: -2px;
}

.btnStyle:hover {
    background-color: #E5F1FB;
    border: 1px solid #0078D7;
    outline: none;
}

.btnStyle:active {
    background-color: #CCE4F7;
    border: 1px solid #005499;
}



.btnBtm {
    font-size: 12px;
    width: 98px;
    height: 25px;
}

.btnBtmBox {
    position: absolute;
    right: 20px;
    bottom: 25%;
}

.topGen {
    width: 90px;
    line-height: 26px;
    font-size: 16px;
    background-image: url('images/1.png');
    background-repeat: no-repeat;
    background-position: 10px;
}

.topHist {
    width: 90px;
    line-height: 26px;
    font-size: 16px;
    background-image: url('images/2.png');
    background-repeat: no-repeat;
    background-position: 10px;
}

.topTab {
    width: 65px;
    line-height: 26px;
    font-size: 16px;
    background-image: url('images/3.png');
    background-repeat: no-repeat;
    background-position: 10px;
}

.btnTop1 {
    width: 26px;
    height: 26px;
    font-size:0;
    background-image: url('images/qm.png');
    background-repeat: no-repeat;
    background-position: 4px;
}

.btnTop2 {
    width: 168px;
    height: 26px;
    font-size: 12px;
}

.capFix {
    background-color: white;
    margin-bottom: 5px;
}

.capFixSpec {
    background-color: white;
    margin-bottom: 0;
}

.grpboxFix {
    padding: 0;
    margin-left: 14px;
    margin-right: 12px;
}

.chkboxMrgnFix {
    padding: 0;
    margin: 0;
    margin-left: 20px;
    margin-bottom: 7px;
}

.chkboxMrgnFix1 {
    padding: 0;
    margin: 0;
    margin-left: 27px;
    margin-bottom: 3px;
}

.lastChkbox {
    margin-bottom: 13px;
}

.counter {
    width: 70px;
    margin-bottom: 3px;
    margin-left: 0; 
}

.netWrap {
    display: inline-block;
}

.updBtn {
    width: 200px;
    margin-top: -30px;
}

.langBox {
    margin-left: 21px;
    width: 990px;
}

.langBtn1 {
    width: 37px;
    font-size: 0px;
    background-image: url('images/three.png');
    background-repeat: no-repeat;
    background-position: 50% 75%;
}

.langBtn2 {
    width: 200px;
}

.langBtn3 {
    width: 200px;
    background-image: url('images/down.png');
    background-repeat: no-repeat;
    background-position: 13px;
    text-align: left;
}

.manBtn {
    width: 200px;
}